@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: black;
    width: 960px;
    margin: 40px auto;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
    margin: 8px 16px;
}

h2 {
    font-size: 2rem;
    line-height: 2.3rem;
    margin: 8px 16px;
}

p {
font-size: 1.2rem;
line-height: 1.5rem;
}

ul li {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-left: 16px;
}

a { 
    text-decoration: none;
    color: darkviolet;
}