@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Cinzel", serif;
    background-color: #3c3c3c;
}

.container {
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    place-items: center;
    align-content: center;
    justify-content: center;
    background-image: url(./images/pegamino.png);
    background-size: 300px;
    margin: auto;
}


h1 {

    font-size: 2rem;
    line-height: 2.2rem;
    color: #2c2c2c;
    text-align: center;
}

ol {
    padding-left: 10%;
}