@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Comfortaa:wght@300..700&display=swap');

body{
    font-family: "Cinzel", serif;
}


.container {
    width: 300px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 2rem;
    line-height: 2.2rem;
    color: #2c2c2c;
    text-align: center;
}
