* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
color: #ffffff;
width: 960px;
margin: 0 auto;
background-color: black;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
    font-weight: 700;
    margin: 16px 8px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 16px 8px;
}

ul li {
    margin: 0 24px;
}

a {
    text-decoration:none ;
}